<h2>Enter pet details</h2>
<%= form_tag('/pet/create_pet') do %>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Height</span>
    </div>
    <input type="number" class="form-control" aria-label="Amount" name="height" required="required">
    <div class="input-group-append">
      <span class="input-group-text">inches</span>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Width</span>
    </div>
    <input type="number" class="form-control" aria-label="Amount" name="width">
    <div class="input-group-append">
      <span class="input-group-text">inches</span>
    </div>
  </div>

  <input type="submit" class="btn btn-primary"></button>
<%end%>
